<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
        <a href="{{ url_for('index') }}" class="button">Voltar para a Página Inicial</a>
        <form method="post">
            {% for size, price in prices.items() %}
                <div class="form-group price-item">
                    <label for="{{ size }}">Açaí de {{ size }}ml:</label>
                    <input type="number" id="{{ size }}" name="{{ size }}" value="{{ "%.2f"|format(price) }}" step="0.01" required>
                </div>
            {% endfor %}
            <button type="submit">Salvar Preços</button>
        </form>
    </div>
</body>
</html>